/******************************************************
	Core styles

	Dany Nov 2018

******************************************************/
// Core variables and mixins
@import "partials/variables";
@import "partials/mixins";

// Reset
@import "partials/normalize";
@import "partials/print";

// Core CSS
@import "partials/scaffolding";
@import "partials/type";
@import "partials/code";
@import "partials/grid";
@import "partials/tables";
@import "partials/forms";
@import "partials/buttons";

// Components
@import "partials/component-animations";
@import "partials/glyphicons";
@import "partials/dropdowns";
@import "partials/button-groups";
@import "partials/input-groups";
@import "partials/navs";
@import "partials/navbar";
@import "partials/breadcrumbs";
@import "partials/pagination";
@import "partials/pager";
@import "partials/labels";
@import "partials/badges";
@import "partials/jumbotron";
@import "partials/thumbnails";
@import "partials/alerts";
@import "partials/progress-bars";
@import "partials/media";
@import "partials/list-group";
@import "partials/panels";
@import "partials/wells";
@import "partials/close";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);

// Components w/ JavaScript
@import "partials/modals";
@import "partials/tooltip";
@import "partials/popovers";
@import "partials/carousel";

// Utility classes
@import "partials/utilities";
@import "partials/responsive-utilities";

// Variables
$black: #212121;
$blue: #2d79b1;
$coral: #FF5E62;
$gold: #F7B733;
$grey: #777;
$dark-grey: #444;
$lightgrey: #eee;
$lightergrey: #f8f8f8;
$orange: #f3901d;
$purple: #794ba3;
$red: #9c1b13;
$teal: #22C1C3;
$white: #fff;

@mixin thumbnail($url) {
	background: url($url) no-repeat center;
	height: 300px;
}


// Main Styles
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	overflow-x: hidden;
	line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Playfair Display', serif;
	line-height: 1.5;
}

h2 {
	font-size: 2em;
}

h3 {
	color: $dark-grey;
	font-size: 1.875em;
}

p {
	margin-bottom: 1.5em;
}

a {
	display: inline-block;
  text-decoration: none;
  outline: none;
	&:hover, &:focus {
		text-decoration: none;
		cursor: pointer;
	}
}

a img {
    border: none;
}
img {
	width: 100%;
	&.no-shadow {
		box-shadow: none !important;
	}
}

.align-center { margin: 0 auto; display: block; }

ul { padding: 0; }

li { list-style: none; }

rt {
    font-size: inherit;
		display: inline;

}

//Text Color
.black-txt 	{color: $black;}
.blue-txt 	{color: $blue;}
.coral-txt 	{color: $coral;}
.gold-txt 	{color: $gold;}
.grey-txt 	{color: $grey;}
.orange-txt {color: $orange;}
.purple-txt {color: $purple;}
.teal-txt 	{color: $teal;}
.white-txt 	{color: $white;}


// Margins
.mbxl {
  margin-bottom: 8em !important; }

.mbl {
  margin-bottom: 3em !important; }

.mbm {
  margin-bottom: 1.5em !important; }

.mbs {
  margin-bottom: 0.5em !important; }

.mtl {
  margin-top: 3em !important; }

.mtxl {
  margin-top: 6em !important; }

.mtm {
  margin-top: 1.5em !important; }

.mts {
  margin-top: 0.5em !important; }

.mrl {
  margin-right: 2em !important; }

.mrm {
  margin-right: 1em !important; }

.mrs {
  margin-right: 0.5em !important; }

.mll {
  margin-left: 2em !important; }

.mlm {
  margin-left: 1em !important; }

.mls {
  margin-left: 0.5em !important; }

.nm 	{ margin: 0 !important; }
.nmr 	{ margin-right: 0 !important;}
.nml 	{ margin-left: 0 !important;}
.nmt 	{ margin-top: 0 !important;}
.nmb 	{ margin-bottom: 0 !important;}


// Padding
.ptm { padding-top: 2em;}
.ptbl { padding: 3em 0 3em 0; }
.npl { padding-left: 0; }
.np { padding: 0; }

// Alignment
.vmiddle { vertical-align: middle; }

.align-center {
	margin-left: auto;
	margin-right: auto;
	display: block;
	float: none;
}
.align-right {
	float:right;
}
.align-left {
	float:left;
}
.inline-block {
	display: inline-block;
}

.container {
	width: 1140px;
	padding: 0;
}

.wrapper {
	padding: 3em 8em;
	&.intro {
		position: relative;
		top: 140px;
	}
}

.hero {
	background-color: $black;
	height: 440px;
	h1, h2 {
		color: #fff;
	}
	h2{
		font-family: 'Open Sans', sans-serif;
	}
}

// SVG Text Effect
.text {
	font-size: 80px;
  fill: none;
  stroke-width: 2.5;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 8s infinite linear;
  animation: stroke 8s infinite linear;
}

.text:nth-child(5n + 1) {
  stroke: #F2385A;
  -webkit-animation-delay: -1.5s;
  animation-delay: -1.5s;
}
.text:nth-child(5n + 2) {
  stroke: #F5A503;
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
}

.text:nth-child(5n + 3) {
  stroke: #E9F1DF;
  -webkit-animation-delay: -4.6s;
  animation-delay: -4.6s;
}

.text:nth-child(5n + 4) {
  stroke: #56D9CD;
  -webkit-animation-delay: -6.2s;
  animation-delay: -6.2s;
}

.text:nth-child(5n + 5) {
  stroke: #3AA1BF;
  -webkit-animation-delay: -8s;
  animation-delay: -8s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}
svg {
  position: absolute;
  width: 100%;
  height: 300px;
}

.projects {
	margin-top: -100px;
	h3 {
		color: #fff;
	}
	a {
		img {
			margin-bottom: 2em;
			transform: scale(1);
			width: 85%;
			-webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
			-moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
			box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
			-webkit-transition: all .15s ease-in-out;
		  -moz-transition: all .15s ease-in-out;
		  -o-transition: all .15s ease-in-out;
		  transition: all .15s ease-in-out;
		}
		&:hover img {
			transform: scale(1.1);
		}
	}
	.card {
			padding: 4em;
			text-align: center;
		p{
			color: #fff;
			opacity: .7;
			margin: 0 auto;
		}
	}
}

.black {
	background-color: $black;
}

.blue {
	background-color: $blue;
}
.projects .blue:hover {
	background-color: darken($blue, 4%);
}

.coral {
	background-color: $coral;
}
.projects .coral:hover {
	background-color: darken($coral, 4%);
}

.gold {
	background-color: $gold;
}
.projects .gold:hover {
	background-color: darken($gold, 5%);
}

.orange {
	background-color: $orange;
}
.projects .orange:hover {
	background-color: darken($orange, 4%);
}

.purple {
	background-color: $purple;
}
.projects .purple:hover {
	background-color: darken($purple, 5%);
}

.teal {
	background-color: $teal;
}
.projects .teal:hover {
	background-color: darken($teal, 5%);
}


.ptrn-cube {
	background-image: url("../img//ptrn-cube.png");
	background-blend-mode: soft-light;
}
.ptrn-diag-ribbon {
	background-image: url("../img//ptrn-diag-ribbon.png");
	background-blend-mode: soft-light;
}
.ptrn-dots {
	background-image: url("../img//ptrn-confetti-dots.png");
	background-blend-mode: soft-light;
}
.ptrn-elegant {
	background-image: url("../img//ptrn-elegant.png");
	background-blend-mode: soft-light;
}
.ptrn-shapes {
	background-image: url("../img//ptrn-confetti-shapes.png");
	background-blend-mode: luminosity;
}
.ptrn-tri {
	background-image: url("../img//ptrn-triangles.png");
	background-blend-mode: soft-light;
}

.wall {
	margin: 8em 0;
	min-height: 600px;
	display: block;
  position: relative;
	overflow: hidden;
}

.wall:after {
  content: "";
	background: url("../img/brick-wall.png");
	background-repeat: no-repeat;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}

img.sf, img.ny {
	position: relative;
	padding: 0;
	top:140px;
	width: 240px;
	z-index: 1;
	opacity: 1;
	-webkit-box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.5);
}

.about {
	.content {
		color: $black;
		margin-left: 2em;
		top: 100px;
		z-index: 2;
	}
}

.sf.left {
	margin-left: -40px;
}

.ny.right {
	margin-right: -40px;
	float: right;
	right: 0;
}

// Project Styles
.logo {
	font-family: 'Abril Fatface', cursive, sans-serif;
	font-size: 40px;
	margin: .3em 0;
	opacity: .6;
}

.proj-header {
	padding: 1em 8em 1em 6.5em;
	a, a i {
		-webkit-transition: all .15s ease-in-out;
	  -moz-transition: all .15s ease-in-out;
	  -o-transition: all .15s ease-in-out;
	  transition: all .15s ease-in-out;

	  &:hover, &:focus {
	    color: #fff;
			opacity: 1;
	    text-shadow: 0 1px 0 rgba(17, 17, 17, 0.3);
	  }
	}

	.proj-title {
		margin-top: 1.5em;
		text-align: left;
		float: right;
	}

	h1{
		font-size: 3.25em;
	}

	h2 {
		font-size: 1.25em;
		opacity: .7;
	}

	.social {
		display: inline-block;
		margin: 1em 0;
		i {
			color: #fff;
			opacity: .6;
			&.fa-envelope {
				margin-right: 0;
			}
		}
	}
}

.role, .copyright {float: left !important;}
.tldr, .more-proj {float: right !important;}

.proj-content {
	overflow-x: hidden;
	p {
		color: $grey;
	}
	h3 {
		font-size: 2.5em; }
	h4 {
		text-transform: uppercase;
		margin-bottom: 1.5em; }
	.bold {
		font-weight: 600;
	}
	img {
		-webkit-box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.1);
		-moz-box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.1);
		box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.1);
	}
	section {
		padding: 3em 0 6em;
		&.black {
			background-color: $black;
		}
		&.grey {
			background-color: $lightergrey;
		}
	}
	.caption {
		color: $grey;
		font-size: 13px;
		margin: 1.5em 0;
		display: block;
		text-align: center;
	}
}

video {
	width: 100%;
	-webkit-box-shadow: 0px 6px 40px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 6px 40px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 6px 40px 0px rgba(0,0,0,0.2);
}

.hero-img-nag 	{ margin: -350px 0 0;}
.hero-img-mpt 	{ margin: -350px 0 0 -50px;}
.hero-img-adexp	{margin: -350px 0 0 -60px;}
.hero-img-ta		{margin: -340px 0 0 -60px;}
.hero-img-nook	{margin: -320px 0 0 -80px;}
.hero-img-kareo	{margin: -333px 0 0 -44px;}

img.border { border: 1px solid #eee; }

.social {
	font-size: 24px;
	i {
		margin-right: 1em;
	}
}

footer {
	padding: 2em 0;
	.logo {
		opacity: 1;
	}
	p {
		color: $white !important;
		font-size: 13px;
		margin: 1em 0 0;
	}
	a {
		-webkit-transition: all .15s ease-in-out;
	  -moz-transition: all .15s ease-in-out;
	  -o-transition: all .15s ease-in-out;
	  transition: all .15s ease-in-out;

	  &:hover, &:focus {
	    color: lighten($black, 50%);
			opacity: .8;
	  }
	}
	.card {
		background-size: contain;
		padding: 1em;
		color: $white;
		min-height: 164px;
		margin-left: 24px;
		img {
			width: 100%;
		}
		p {text-align: center;}
	}
}


/* Media Queries */

@media screen and (min-width:1024px) and (max-width:1240px) {
	.container {
		width: 910px;
		padding: 0;
	}
	.projects {
		margin: -80px 0 0;
		.card {
			padding: 4em .75em;
		}
	}
	.wall {
		margin: 4em 0 8em;
	}

	//Project Pages
	.proj-header {
    padding: 1em 4em;
		h1 {font-size: 2.35em;}
		h2 {font-size: .95em;}
		.proj-title {
			margin-top: 3em;
		}
	}
	.hero-img-nag		{margin: -300px 0 0;}
	.hero-img-mpt		{margin: -284px 0 0 -50px;}
	.hero-img-adexp	{margin: -300px 0 0 -100px;}
	.hero-img-ta		{margin: -270px 0 0 -40px;}
	.hero-img-nook	{
		margin: -300px 0 0 -80px;
	}
	.hero-img-kareo	{
		margin: -270px 0 0 -66px;
	}

	.proj-content {
		h3 {font-size: 2.15em;}
		section {
			padding: 3em 0;
		}
	}

}
@media screen and (max-width:1024px) {
	.container {
		width: 880px;
		padding: 0;
	}
	.projects {
		margin: -50px 0 0;
		h3 {font-size: 1.5em;}
		.card {
			padding: 3em 1.5em 2.5em;
			height: 388px;
			p {
				font-size: 16px;
				width: 100%;
			}
		}
		a {
			img {
				width: 60%;
			}
		}
	}
	.hero {
		height: 400px;
	}
	.wrapper {
		padding: 0;
	}
	h1 {
		font-size: 1.8em;
		margin: 0;
		padding: 2em;
	}
	.wall {
		margin: 4em 0 6em;
		min-height: 600px;
		img.ny {
			right: -40px;
		}
	}
	.about {
		.content {
			font-size: 20px;
			margin: 0;
		}
	}

	// Project Pages
	.proj-header {
    padding: 1em 3em;
		h1 {
			padding: 0;
			font-size: 2em;
		}
		h2 {font-size: 1em;}
		.proj-title {
			margin: 1.75em 0 0 17em;
		}
	}
	.hero-img-nag 	{margin: -280px 0 0 -50px;}

	.proj-content {
		.container{
			padding: 0 2em;
		}
		h3 {font-size: 2.15em;}
		section {
			padding: 3em 0;
		}
	}

}

@media screen and (min-width: 420px) and (max-width:768px) {
	.container {
		width: 100%;
	}
	.projects {
		margin-top: 0;
	}
	.card {
		height: auto;
	}
	.wall {
		margin: 2em 0 4em;
		min-height: 650px;
		.col-sm-6 {
			width: 70%;
		}
	}
	img.sf, img.ny {
		display: none;
	}

	// Project Pages
	.hero-img-nag {
		margin: -240px 0 0;
		width: 62%;
	}
	.hero-img-mpt	{
		margin: -230px 0 0;
		width: 68%;
	}
	.hero-img-adexp	{
		margin: -250px 0 0 -36px;
		width: 56%;
	}
	.hero-img-ta	{
		margin: -250px 0 0 -24px;
		width: 54%;
	}
	.hero-img-nook	{
		margin: -256px 0 0 -36px;
		width: 64%;
	}
	.hero-img-kareo	{
		margin: -230px 0 0 0px;
		width: 56%;
	}

	.proj-header {
		height: 360px;
		padding: 1em 2em;
		.proj-title {
			margin: 2em 0 0 18em;
		}
		h1 {
			font-size: 1.85em;
		}
	}
	footer {
		.card {
			height: auto;
		}
	}

}

@media screen and (max-width: 480px) {
	.projects {
		margin: 0;
	}
	.card {
			height: auto;
	}
	.wall {
		margin: 0 0 4em;
		.col-sm-6 {
			width: 90%;
		}
	}
	img.sf, img.ny {
		display: none;
	}
	h1 {
		font-size: 1.5em;
		margin: 0;
		padding: 2em 1em;
	}
	.about {
		.content {
			font-size: 20px;
			margin: 0 1em;
		}
	}
	p {
		font-size: 16px;
	}

	// Project Pages
	.container {
		width: 100%;
	}
	.hero-img-nag, .hero-img-mpt, .hero-img-adexp, .hero-img-ta, .hero-img-nook, .hero-img-kareo {
		display: none;
	}


	.proj-header {
		height: 310px;
		padding: 0 2em;
		.proj-title {
	    margin: 1em 0;
			padding: 0;
			float: none;
		}
		h1 {
			font-size: 1.85em;
		}
	}
	footer {
		.card {
			height: auto;
			width: 100%;
			margin: 0;
			p {
				font-size: 16px;
				margin: 1em 0;
			}
		}
	}
}
