/******************************************************
	Core styles

	Dany Nov 2018

******************************************************/
// Core variables and mixins
@import "partials/variables";
@import "partials/mixins";

// Reset
@import "partials/normalize";
@import "partials/print";

// Core CSS
@import "partials/scaffolding";
@import "partials/type";
@import "partials/code";
@import "partials/grid";
@import "partials/tables";
@import "partials/forms";
@import "partials/buttons";

// Components
@import "partials/component-animations";
@import "partials/glyphicons";
@import "partials/dropdowns";
@import "partials/button-groups";
@import "partials/input-groups";
@import "partials/navs";
@import "partials/navbar";
@import "partials/breadcrumbs";
@import "partials/pagination";
@import "partials/pager";
@import "partials/labels";
@import "partials/badges";
@import "partials/jumbotron";
@import "partials/thumbnails";
@import "partials/alerts";
@import "partials/progress-bars";
@import "partials/media";
@import "partials/list-group";
@import "partials/panels";
@import "partials/wells";
@import "partials/close";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);

// Components w/ JavaScript
@import "partials/modals";
@import "partials/tooltip";
@import "partials/popovers";
@import "partials/carousel";

// Utility classes
@import "partials/utilities";
@import "partials/responsive-utilities";

// Variables
$black: #212121;
$blue: #2d79b1;
$coral: #FF5E62;
$gold: #F7B733;
$grey: #777;
$dark-grey: #444;
$lightgrey: #eee;
$lightergrey: #f8f8f8;
$orange: #f3901d;
$purple: #794ba3;
$red: #9c1b13;
$teal: #22C1C3;

@mixin thumbnail($url) {
	background: url($url) no-repeat center;
	height: 300px;
}


// Main Styles
body{
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
	line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Playfair Display', serif;
}

h2 {
	font-size: 2em;
}

h3 {
	color: $dark-grey;
	font-size: 1.875em;
}


a {
	display: inline-block;
  text-decoration: none;
  outline: none;
	&:hover, &:focus {
		text-decoration: none;
		cursor: pointer;
	}
  &.project { font-size: 1.25em; }
  &.button {
    padding: 1em 1.5em;
    background-color: white;
    border-radius: 3px 3px 3px 3px;
		-moz-border-radius: 3px 3px 3px 3px;
		-webkit-border-radius: 3px 3px 3px 3px;

		-webkit-transition: all .15s ease-in-out;
		-moz-transition: all .15s ease-in-out;
		-o-transition: all .15s ease-in-out;
		transition: all .15s ease-in-out;

		&:hover, &:focus {
			color: white;
		}
  }
}

a img {
    border: none;
}

.align-center { margin: 0 auto; display: block; }

ul { padding: 0; }

li { list-style: none; }


.wrapper {
	padding: 3em 8em;
	&.intro {
		position: relative;
		top: 140px;
	}
}

.hero {
  // background: rgb(239,47,79);
  // background: linear-gradient(230deg, rgba(239,47,79,1) 0%, rgba(67,81,176,1) 100%);
	background-color: #212121;
	height: 440px;
	h1, h2 {
		color: #fff;
	}
	h2{
		font-family: 'Open Sans', sans-serif;
	}
}

// SVG Text Effect
.text {
	font-size: 80px;
  fill: none;
  stroke-width: 2.5;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 8s infinite linear;
  animation: stroke 8s infinite linear;
}

.text:nth-child(5n + 1) {
  stroke: #F2385A;
  -webkit-animation-delay: -1.5s;
  animation-delay: -1.5s;
}
.text:nth-child(5n + 2) {
  stroke: #F5A503;
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
}

.text:nth-child(5n + 3) {
  stroke: #E9F1DF;
  -webkit-animation-delay: -4.6s;
  animation-delay: -4.6s;
}

.text:nth-child(5n + 4) {
  stroke: #56D9CD;
  -webkit-animation-delay: -6.2s;
  animation-delay: -6.2s;
}

.text:nth-child(5n + 5) {
  stroke: #3AA1BF;
  -webkit-animation-delay: -8s;
  animation-delay: -8s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}
svg {
  position: absolute;
  width: 100%;
  height: 300px;
}


a.logo {
  color: #fff;
	font-family: 'Abril Fatface', cursive, sans-serif;
	font-size: 24px;
	opacity: .5;
  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;

  &:hover, &:focus {
    color: #fff;
		opacity: 1;
    text-shadow: 0 1px 0 rgba(17, 17, 17, 0.3);
  }
}

.projects {
	margin-top: -140px;
	h3 {
		color: #fff;
	}
	a {
		img {
			margin-bottom: 2em;
			transform: scale(1);
			width: 450px;
			-webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
			-moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
			box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
			-webkit-transition: all .15s ease-in-out;
		  -moz-transition: all .15s ease-in-out;
		  -o-transition: all .15s ease-in-out;
		  transition: all .15s ease-in-out;
		}
		&:hover img {
			transform: scale(1.1);
		}
	}
	& .no-shadow {
		box-shadow: none;
	}
	.card {
			padding: 4em;
			text-align: center;
		p{
			font-size: 16px;
			color: #fff;
			opacity: .7;
			margin: 0 auto;
			width: 80%;
		}
		&.coral {
			background-color: $coral;
			&:hover {
				background-color: darken($coral, 4%);
			}
		}
		&.teal {
			background-color: $teal;
			&:hover {
				background-color: darken($teal, 5%);
			}
		}
		&.purple {
			background-color: $purple;
			&:hover {
				background-color: darken($purple, 5%);
			}
		}
		&.gold {
			background-color: $gold;
			&:hover {
				background-color: darken($gold, 5%);
			}
		}
	}
}

.wall {
	margin-top: 6em;
	min-height: 610px;
	display: block;
  position: relative;
}

.wall:after {
  content: "";
	background: url("../img/new/brick-wall.png");
	background-repeat: no-repeat;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}

img.sf, img.ny {
	position: relative;
	padding: 0;
	top:140px;
	z-index: 1;
	opacity: 1;
	-webkit-box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.5);
}

.about {
	.content {
		color: $black;
		font-size: 20px;
		margin-left: 2em;
		top: 100px;
		z-index: 2;
	}
}

.sf.left {
	margin-left: -40px;
}

.ny.right {
	margin-right: -40px;
	float: right;
	right: 0;
}

//Color
.black {color: $black;}
.blue {color: $blue;}
.coral {color: $coral;}
.gold {color: $gold;}
.purple {color: $purple;}
.teal {color: $teal;}


// Margins
.mbxl {
  margin-bottom: 8em !important; }

.mbl {
  margin-bottom: 3em !important; }

.mbm {
  margin-bottom: 1.5em !important; }

.mbs {
  margin-bottom: 0.5em !important; }

.mtl {
  margin-top: 3em !important; }

.mtm {
  margin-top: 1.5em !important; }

.mts {
  margin-top: 0.5em !important; }

.mrl {
  margin-right: 2em !important; }

.mrm {
  margin-right: 1em !important; }

.mrs {
  margin-right: 0.5em !important; }

.mll {
  margin-left: 2em !important; }

.mlm {
  margin-left: 1em !important; }

.mls {
  margin-left: 0.5em !important; }

.nm { margin: 0 !important; }
.nmr { margin-right: 0 !important;}


// Padding
.ptm { padding-top: 2em;}
.ptbl { padding: 3em 0 3em 0; }
.npl { padding-left: 0; }
.np { padding: 0; }

// Alignment
.vmiddle { vertical-align: middle; }
.center-align {
	margin-left: auto;
	margin-right: auto;
	display: block;
}



.glow {
	-webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.75);
}


// Project Styles
.proj-header {
	.container { padding-bottom: 6em; }
	&.thinkalike {
		background: rgba(75,172,154,1);
		background: -moz-linear-gradient(top, rgba(75,172,154,1) 0%, rgba(73,165,191,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(75,172,154,1)), color-stop(100%, rgba(73,165,191,1)));
		background: -webkit-linear-gradient(top, rgba(75,172,154,1) 0%, rgba(73,165,191,1) 100%);
		background: -o-linear-gradient(top, rgba(75,172,154,1) 0%, rgba(73,165,191,1) 100%);
		background: -ms-linear-gradient(top, rgba(75,172,154,1) 0%, rgba(73,165,191,1) 100%);
		background: linear-gradient(to bottom, rgba(75,172,154,1) 0%, rgba(73,165,191,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4bac9a', endColorstr='#49a5bf', GradientType=0 );
	}
	&.nook {
		background: rgba(60,154,201,1);
		background: -moz-linear-gradient(top, rgba(60,154,201,1) 0%, rgba(52,101,176,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(60,154,201,1)), color-stop(100%, rgba(52,101,176,1)));
		background: -webkit-linear-gradient(top, rgba(60,154,201,1) 0%, rgba(52,101,176,1) 100%);
		background: -o-linear-gradient(top, rgba(60,154,201,1) 0%, rgba(52,101,176,1) 100%);
		background: -ms-linear-gradient(top, rgba(60,154,201,1) 0%, rgba(52,101,176,1) 100%);
		background: linear-gradient(to bottom, rgba(60,154,201,1) 0%, rgba(52,101,176,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c9ac9', endColorstr='#3465b0', GradientType=0 );
	}
	&.ninthd {
		background: rgba(111,122,128,1);
		background: -moz-linear-gradient(top, rgba(111,122,128,1) 0%, rgba(45,45,48,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(111,122,128,1)), color-stop(100%, rgba(45,45,48,1)));
		background: -webkit-linear-gradient(top, rgba(111,122,128,1) 0%, rgba(45,45,48,1) 100%);
		background: -o-linear-gradient(top, rgba(111,122,128,1) 0%, rgba(45,45,48,1) 100%);
		background: -ms-linear-gradient(top, rgba(111,122,128,1) 0%, rgba(45,45,48,1) 100%);
		background: linear-gradient(to bottom, rgba(111,122,128,1) 0%, rgba(45,45,48,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f7a80', endColorstr='#2d2d30', GradientType=0 );
	}
	&.kareo {
		background: rgba(247,145,29,1);
		background: -moz-linear-gradient(top, rgba(247,145,29,1) 0%, rgba(243,122,24,1) 28%, rgba(235,80,14,1) 79%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(247,145,29,1)), color-stop(28%, rgba(243,122,24,1)), color-stop(79%, rgba(235,80,14,1)));
		background: -webkit-linear-gradient(top, rgba(247,145,29,1) 0%, rgba(243,122,24,1) 28%, rgba(235,80,14,1) 79%);
		background: -o-linear-gradient(top, rgba(247,145,29,1) 0%, rgba(243,122,24,1) 28%, rgba(235,80,14,1) 79%);
		background: -ms-linear-gradient(top, rgba(247,145,29,1) 0%, rgba(243,122,24,1) 28%, rgba(235,80,14,1) 79%);
		background: linear-gradient(to bottom, rgba(247,145,29,1) 0%, rgba(243,122,24,1) 28%, rgba(235,80,14,1) 79%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7911d', endColorstr='#eb500e', GradientType=0 );
	}
	&.misc {
		background: rgba(245,73,30,1);
		background: -moz-linear-gradient(top, rgba(245,73,30,1) 0%, rgba(130,27,181,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,73,30,1)), color-stop(100%, rgba(130,27,181,1)));
		background: -webkit-linear-gradient(top, rgba(245,73,30,1) 0%, rgba(130,27,181,1) 100%);
		background: -o-linear-gradient(top, rgba(245,73,30,1) 0%, rgba(130,27,181,1) 100%);
		background: -ms-linear-gradient(top, rgba(245,73,30,1) 0%, rgba(130,27,181,1) 100%);
		background: linear-gradient(to bottom, rgba(245,73,30,1) 0%, rgba(130,27,181,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5491e', endColorstr='#821bb5', GradientType=0 );
	}
}


img.border { border: 1px solid #eee; }


.social {
	font-size: 24px;
	i {
		margin-right: 1em;
	}
}


.vcentered {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 15px;
  background: #f5f5f5;
 }

.shift-left {
    left: -15%;
}



/* Example Media Queries */

@media screen and (max-width: 414px){
	img.norm { width: 100%; }
}

@media screen and (max-width: 530px) {
	h1 { font-size: 2.5em; }
	p, ul { font-size: 1.5em; }
	.intro { padding-bottom: 10em; }
	.grid figure img {
		height: auto;
		width: 100%;
	}
	.social {
		.blue, .purple, .teal {
			padding: 3em 0;
		}
	}
	.fa-5x { font-size: 3em; }
	.gallery {
		height: auto;
		width: 100%;
	}
	img { margin-bottom: 2em;}

	footer {
		padding: 2em;
		p { text-align: center !important; }
		.icons { text-align: center; margin: 1em auto; }
	}
}

@media screen and (max-width: 700px){
	img.normalize { width: 100%; }
}

@media screen and (max-width: 990px) {
	.content {
		padding: 0 10px;
		text-align: center;
	}
	.grid figure {
		display: inline-block;
		float: none;
		width: 100%;
	}
	.grid figure img {
		left: 0;
		margin: 1.5em auto;
	}
	.row { margin: 0 auto;}
	.proj-nav, .text-right { text-align: center !important; }
	.mbxl { margin-bottom: 2em !important; }
	a.button { border: none; line-height: 5em; }
}


@media screen and (min-width: 991px) and (max-width: 1024px) {
	.grid figure img {
		left: -32.5%;
	}
}
